@import url("https://fonts.googleapis.com/css?family=Raleway");
 body {
	 font-family: "Raleway", sans-serif;
}

.position-nav-container {
	position: fixed;
	top: 50px;
}

.header-top .header-top-left i {
	color: #fff;
}
 .socialIcons {
	 padding: 0;
	 margin: 0;
	 list-style-type: none;
	 margin: auto;
}
 .socialIcons li a {
	 text-align: center;
	 display: inline-block;
	 font-size: 4rem;
	 width: 100px;
	 transition: all ease 0.5s;
	 text-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 1px rgba(0, 0, 0, 1);
	 transform: rotateX(-30deg);
}
 .socialIcons li a:hover {
	 transform: rotateX(-30deg) translateY(-20px);
}
.socialIcons li a:hover.vk {
	color: #365899;
	text-shadow: 0px 0px 0px #365899,0px 1px 2px #2f4d86,0px 2px 2px #294273,0px 3px 2px #223760,0px 4px 2px #1b2d4e,0px 5px 2px #15223b,0px 6px 2px #0e1728,0px 7px 2px #070c15,0px 8px 2px #010102,0px 9px 2px black,0px 10px 2px black;
}

.socialIcons li a:hover.telegram {
	color: #1da1f2;
	text-shadow: 0px 0px 0px #1da1f2,0px 1px 2px #0d95e8,0px 2px 2px #0c85d0,0px 3px 2px #0b76b8,0px 4px 2px #0967a0,0px 5px 2px #085788,0px 6px 2px #064870,0px 7px 2px #053857,0px 8px 2px #04293f,0px 9px 2px #021927,0px 10px 2px #010a0f;
}

.socialIcons li a:hover.instagram {
	color: #c32aa3;
	text-shadow: 0px 0px 0px #c32aa3,0px 1px 2px #ae2591,0px 2px 2px #992180,0px 3px 2px #841c6e,0px 4px 2px #6f185d,0px 5px 2px #5a134b,0px 6px 2px #450f3a,0px 7px 2px #300a28,0px 8px 2px #1b0617,0px 9px 2px #060105,0px 10px 2px black;
}

.socialIcons li a:hover.whatsapp {
	color: #32CD32;
	text-shadow: 0px 0px 0px #32CD32,0px 1px 2px #2db92d,0px 2px 2px #28a428,0px 3px 2px #239023,0px 4px 2px #1e7b1e,0px 5px 2px #196719,0px 6px 2px #145214,0px 7px 2px #0f3e0f,0px 8px 2px #0a290a,0px 9px 2px #051505,0px 10px 2px black;
}

.footer-area .footer-bottom .footer-social a {
    background: none;
	margin-right: 25px;
    display: inline-table;
    height: 40px;
    padding-top: 10px;
    text-align: center;
	font-size: 4rem;
    width: 40px;
	transition: all ease 0.5s;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 1px rgba(0, 0, 0, 1);
	transform: rotateX(-30deg);
}

.footer-area .footer-bottom .footer-social a:hover {
	 transform: rotateX(-30deg) translateY(-20px);
}

.footer-area .footer-bottom .footer-social a:hover.vk {
	color: #365899;
	text-shadow: 0px 0px 0px #365899,0px 1px 2px #2f4d86,0px 2px 2px #294273,0px 3px 2px #223760,0px 4px 2px #1b2d4e,0px 5px 2px #15223b,0px 6px 2px #0e1728,0px 7px 2px #070c15,0px 8px 2px #010102,0px 9px 2px black,0px 10px 2px black;
}

.footer-area .footer-bottom .footer-social a:hover.telegram {
	color: #1da1f2;
	text-shadow: 0px 0px 0px #1da1f2,0px 1px 2px #0d95e8,0px 2px 2px #0c85d0,0px 3px 2px #0b76b8,0px 4px 2px #0967a0,0px 5px 2px #085788,0px 6px 2px #064870,0px 7px 2px #053857,0px 8px 2px #04293f,0px 9px 2px #021927,0px 10px 2px #010a0f;
}

.footer-area .footer-bottom .footer-social a:hover.instagram {
	color: #c32aa3;
	text-shadow: 0px 0px 0px #c32aa3,0px 1px 2px #ae2591,0px 2px 2px #992180,0px 3px 2px #841c6e,0px 4px 2px #6f185d,0px 5px 2px #5a134b,0px 6px 2px #450f3a,0px 7px 2px #300a28,0px 8px 2px #1b0617,0px 9px 2px #060105,0px 10px 2px black;
}

.footer-area .footer-bottom .footer-social a:hover.whatsapp {
	color: #32CD32;
	text-shadow: 0px 0px 0px #32CD32,0px 1px 2px #2db92d,0px 2px 2px #28a428,0px 3px 2px #239023,0px 4px 2px #1e7b1e,0px 5px 2px #196719,0px 6px 2px #145214,0px 7px 2px #0f3e0f,0px 8px 2px #0a290a,0px 9px 2px #051505,0px 10px 2px black;
}
